# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/
.env

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# System Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Data Files (OPTIONAL)
# -------------------------
data/*.csv

# -------------------------
# Streamlit Cache
# -------------------------
.streamlit/

# -------------------------
# Secrets / API Keys
# -------------------------
secrets.toml